In [17]:
# Add dependencies
import pandas as pd

In [18]:
# Files to load in to Analysis
schools_to_load_data = "Resources/schools_complete.csv"
students_to_load_data = "Resources/students_complete.csv"

In [19]:
# Read the files into a Dataframe
schools_df = pd.read_csv(schools_to_load_data)
students_df = pd.read_csv(students_to_load_data)

In [20]:
# Count the number of values in each column to determine missing rows
schools_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [21]:
# Use ISNULL to see if any values in each column are NULL
schools_df.isnull().sum()

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [22]:
# Use NOTNULL to see if any values in each column are NULL (opposite of the above cell)
schools_df.notnull().sum()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [23]:
# Count the number of values in each column to determine missing rows
students_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [24]:
# Use ISNULL to see if any values in each column are NULL
students_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [25]:
# Use NOTNULL to see if any values in each column are NULL (opposite of the above cell)
students_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [26]:
# Determine data types for the school DataFrame
schools_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [27]:
schools_df["school_name"].dtype

dtype('O')

In [28]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [30]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    students_df["student_name"] = students_df["student_name"].str.replace(word,"")

<ipython-input-30-95febb0a8019>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  students_df["student_name"] = students_df["student_name"].str.replace(word,"")