In [33]:
# Add dependencies
import pandas as pd

In [34]:
# Files to load in to Analysis
schools_to_load_data = "Resources/schools_complete.csv"
students_to_load_data = "Resources/students_complete.csv"

In [35]:
# Read the files into a Dataframe
schools_df = pd.read_csv(schools_to_load_data)
students_df = pd.read_csv(students_to_load_data)

In [36]:
# Count the number of values in each column to determine missing rows
schools_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [37]:
# Use ISNULL to see if any values in each column are NULL
schools_df.isnull().sum()

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [38]:
# Use NOTNULL to see if any values in each column are NULL (opposite of the above cell)
schools_df.notnull().sum()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [39]:
# Count the number of values in each column to determine missing rows
students_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [40]:
# Use ISNULL to see if any values in each column are NULL
students_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [41]:
# Use NOTNULL to see if any values in each column are NULL (opposite of the above cell)
students_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [42]:
# Determine data types for the school DataFrame
schools_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [43]:
schools_df["school_name"].dtype

dtype('O')

In [44]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [45]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    students_df["student_name"] = students_df["student_name"].str.replace(word,"")

<ipython-input-45-95febb0a8019>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  students_df["student_name"] = students_df["student_name"].str.replace(word,"")

In [46]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(students_df, schools_df, on=["school_name","school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [47]:
# Calculate the number of unique Students
student_count = school_data_complete_df['Student ID'].count()
student_count

39170

In [48]:
# Calculate the number of unique Schools
school_count = len(school_data_complete_df['School ID'].unique())
school_count

15

In [49]:
# Calculate the sum of Budget for each School
school_budget = schools_df['budget'].sum()
school_budget

24649428

In [50]:
# Average Reading Score
mean_reading = school_data_complete_df['reading_score'].mean()
mean_reading

81.87784018381414

In [51]:
# Average Math Score
mean_math = school_data_complete_df['math_score'].mean()
mean_math

78.98537145774827

In [52]:
# Set a new variable of a series of booleans to compare the math and reading scores v the passing grade
passing_math_dep = school_data_complete_df['math_score'] >= 70
passing_reading_dep = school_data_complete_df['reading_score'] >= 70

In [53]:
# Get only the students that passed math and reading
passing_math = school_data_complete_df[school_data_complete_df['math_score'] >= 70]
passing_reading = school_data_complete_df[school_data_complete_df['reading_score'] >= 70]

In [54]:
# Get the number of students who passed both subjects and put them in different variables
passing_math_count = passing_math["student_name"].count()
passing_reading_count = passing_reading["student_name"].count()

In [55]:
# Get the % of those who passed each subject
passing_math_percentage = (passing_math_count / student_count) * 100
passing_reading_percentage = (passing_reading_count / student_count) * 100

In [56]:
# Get a new DataFrame of those who passed reading and math and assign the number of students to new variable
passing_both = school_data_complete_df[(school_data_complete_df['math_score'] >= 70) & (school_data_complete_df['reading_score'] >= 70)]
passing_both_count = passing_both['Student ID'].count()

In [57]:
# Get the percentage of those that passed both reading and math
overall_pass_both_percentage = (passing_both_count / student_count) * 100
overall_pass_both_percentage

65.17232575950983

In [79]:
# Assign the summary statistics to a new DataFrame
district_summary_df = pd.DataFrame(
    [{'Total Schools': school_count,
      'Total Students': student_count,
      'Total Budget': school_budget,
      'Average Reading Score': mean_reading,
      'Average Math Score': mean_math,
      '% Passing Reading': passing_reading_percentage,
      '% Passing Math': passing_math_percentage,
      '% Overall Passing': overall_pass_both_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,15,39170,24649428,81.87784,78.985371,85.805463,74.980853,65.172326

In [80]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [81]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [82]:
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"]

0    81.9
Name: Average Reading Score, dtype: object

In [83]:
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Math Score"]

0    79.0
Name: Average Math Score, dtype: object

In [84]:
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [85]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,15,"39,170","$24,649,428.00",81.9,79.0,86,75,65